/* Normalize Start */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* html {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
} */

a {
    color: inherit;
    text-decoration: none;
}
/* Normalize End */

/* Library Start */
.con {
    margin-left: auto;
    margin-right: auto;
}

:root {
    --site-width: 800px;
}

.con {
    width: var(--site-width);
}

.con-min-width {
    min-width: var(--site-width);
    padding: 0 10px;
}

.block {
    display: block;
}

.img-box > img {
    width: 100%;
    display: block;
}

.float-grid::after {
    content: "";
    display: block;
    clear: both;
}

.float-grid > * {
    float: left;
    box-sizing: border-box;
}

.flex { 
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Library End */

.side-bar {
    position: fixed;
    background-color: #13181E;
    top: 0;
    left: 0;
    width: 99px;
    height:100%;
    color: #fff;
    font-size:2rem;
    transition: width 0.3s;
    overflow: hidden;
}

.side-bar:hover {
    width: 300px;
    overflow: visible;
}

.side-bar__status-ico {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 30px;
    position: absolute;
} 

.side-bar__status-ico > div {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    transition: all .2s;
}

.side-bar__status-ico > div:nth-child(1) {
    width: auto;
    left: 0;
    right: 0;
    transition: all .2s, left 0.1s 0.1s, right 0.1s 0.1s, height 0.1s 0s;
}

.side-bar:hover .side-bar__status-ico > div:nth-child(1) {
    left: 40%;
    right: 40%;
    height: 100%; 
    transition: all .2s, left 0.1s 0s, right 0.1s 0s, height 0.1s 0.1s;
}

.side-bar__status-ico > div:nth-child(2) {
    top: 40%;
    transform-origin: bottom left;
}

.side-bar:hover > .side-bar__status-ico > div:nth-child(2) {
    transform: rotate(45deg);
    width: 70.5%;
}

.side-bar__status-ico > div:nth-child(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin: bottom right;
}

.side-bar:hover > .side-bar__status-ico > div:nth-child(3) {
    transform: rotate(-45deg);
    top: 40%;
    width: 70.5%;
}

.side-bar__menu-box-1 {
    margin-top: 80px;
    height: calc(100% - 80px);
}

.side-bar__menu-box-1 > ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-bar__menu-box-1 > ul > li {
    position: relative;
}

.side-bar__menu-box-1 > ul > li:last-child {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.side-bar__menu-box-1 ul > li > a {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 10px 12px;
}

.side-bar__menu-box-1 ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: width .8s;
}

.side-bar__menu-box-1 ul > li:hover > a::after {
    width: 100%;
}

.side-bar__menu-box-1 ul > li > a > * {
    vertical-align: middle;
}

.side-bar__menu-box-1 ul > li > a > span:first-child {
    display: inline-block;
    position: relative;
    border-radius: 30%;
    width: 4.5rem;
    height: 4rem;
    border: 2px solid white;
    margin-right: 7px;
    transition: transform 0.5s;
}

.side-bar__menu-box-1 ul > li:hover > a > span:first-child {
    transform: translateX(5px);
}

.side-bar__menu-box-1  ul > li > a > span:first-child > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-bar__menu-box-1 ul > li > a > span:last-child {
    font-weight: bold;
    font-style: italic;
    text-shadow: 20px 16px 0 rgba(255, 255, 255, 0.2);
    display: inline-block;
}

.side-bar__menu-box-1 ul > li:hover > a > span:last-child {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    transition: .5s;
}

.side-bar__menu-box-1 > ul > li > a > span:last-child {
    transition: text-shadow .12s, opacity .3s .2s, transform .3s .2s;
    opacity: 0;
    transform: translateY(100%);
}

.side-bar:hover .side-bar__menu-box-1 > ul > li > a > span:last-child {
    opacity: 1;
    transform: translateY(0);
}

.side-bar__menu-box-1 > ul ul {
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: #13181E;
}

.side-bar__menu-box-1 > ul > li:hover > ul {
    display: block;
}

.section-gallery {
    margin-left: 60px;
}

.section-gallery__img-list > ul > li { 
    width: 50%;
}
